<% include  partials/header.ejs %> <!--EJS tags -->
  <h1>
    Welcome to the Solar System Site!
  </h1>
  
  <p>
    Click on a planet to learn more about it:
  </p>
  
  <a href="/mercury.html">Mercury</a><br>
  <a href="/venus.html">Venus</a><br>
  <a href="/earth.html">Earth</a><br>
  <a href="/mars.html">Mars</a><br>
  <a href="/jupiter.html">Jupiter</a><br>
  <a href="/saturn.html">Saturn</a><br>
  <a href="/uranus.html">Uranus</a><br>
  <a href="/neptune.html">Neptune</a><br>
  
  <!-- When node js runs on node, all content in public folder is placed in root -->
  <img src="/img/solar_system.jpg" class="img-fluid alt="The Solar System"> <br>
  
<% include  partials/footer.ejs %> <!--EJS tags -->